.App {
  text-align: center;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(30deg);
  }
}

body {
  margin: 0;
  font: normal 10% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
}
/* #tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index:-1;
} */

#tsparticles {   
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: -1;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  opacity: 0.7;
  width: 100%;
}

img:hover {
  opacity: 1.0;
}

#navigation{
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

#route{
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

#route a{
  color: green;
  font-size: 30px;
  margin-right: 5%;
  text-align: center;
}

#navigation a{
  margin-right: 10%;
  text-align: left;
}

#navigation a:last-child{
  margin-right: 0;
}

.content {
  margin-top: 70px;
  display: 'block'; 
  width: 700; 
  padding: 30
}

.word {
  color: white;
  margin-top: 50px;
  text-align: center;
  opacity: 90%;
}

.desc {
  margin-top: 20px;
  text-align: center;
  opacity: 0.8;
  font-size: 18px;
  color: white;
  background-size: cover;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-top: 40px;
  opacity: 70%
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  margin-top: 5px;
}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.video-player {
  margin-top: 10px;
  text-align: center;
  flex: 1;
}

.title {
  color: white;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 0px;
  color: white;
  opacity: 0.7;
}

.column:hover {
  opacity: 1;
}